<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class= "Banner"> Banner Placeholder </div>
    <br>
    <h1>Current Songs in Playlist</h1>
    <br><br>

    <%=playlists.playlist_name%>

    <form action="/playlists/<%=playlists.id%>" method="POST">
        Song: <input type="text" name="name" />
        Artist: <input type="text" name="artist" />
        Album: <input type="text" name="album" />
        Video: <input type="text" name="video" />
        <input type="submit" value="Add Song" />
    </form>
    
</body>
</html>