<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class= "Banner"> Banner Placeholder </div>

    <br>

    <h1>Current Songs in Playlist</h1>
    <button class = "Signout">Signout</button>

    Currently playing <%=song.name%> by <%artist.name%>.


</body>
</html> -->