<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Sign-Up</title>
</head>
    <body>
        <div class= "Banner">Banner Placeholder</div> 

        <div class="userinput">
            <h2>Sign Up!</h2>
            <h3> <%=msg%> </h3>
            <form action='/auth' method='POST'>
                Name: <input type="text" name="name"/> <br>
                Username: <input type="text" name="username"/> <br>
                Password: <input type="password" name="password"/> <br>
                Email: <input type="email" name="email"/> <br>
                User Icon: <input type="text" name="img"/> <br>
                <input type="submit" value="CreateUser"/> <br>

                <a href="/auth/login">Already have an account?</a>
            </form>    
        </div>

        
    </body>
</html>