html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  

  body {
      background-image: url("https://images.pexels.com/photos/1616470/pexels-photo-1616470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      background-size: cover;
      overflow: hidden;
    
  }

.userinput {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background: rgba(0,0,0,.8);
      box-shadow: 0 15px 25px rgba(0,0,0,.8);
      padding: 40px;
      border-radius: 10px;
      text-align: center;
  }

.userinput h1, h3{
      text-align: center;
      margin: 0 0 30px;
      padding: 0;
      color: white;
  }
.userinput a:link {
    color: white;
    font-size: x-large;
}

.userinput a:visited {
    color: thistle;
    font-size: x-large;
}

.userinput a:hover {
    color: violet;
}

.welcomebuttons {
    position:relative;
    width: 100%;
    padding: 10px 0;
}

.singleinput {
    width: 75%;
    height:30px;
    margin:2px;
    padding: 5px;
    font-size: 17px;;
}
